.auto-form {
    display: flex;
    padding: 105px 0 15px;
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;

    @include r($mobile-lg) {
        display: block;
        padding: 90px 0 25px;
    }

    @include r($mobile-md) {
        display: block;
        padding: 80px 0 25px;
    }

    &__wrapper {
        display: flex;
        width: 100%;

        @include r($mobile-lg) {
            justify-content: center;
            max-width: 100%;
        }

        &--place {
            position: relative;
            z-index: 15;

            @include r($mobile-md) {
                display: block;
            }
        }

        &:not(:last-child) {

            @include r($mobile-lg) {
                margin-bottom: 20px;
            }
        }
    }

    &__box {
        position: relative;
        margin-right: 10px;
        max-width: 350px;
        height: 100%;

        @include r($mobile-lg) {
            max-width: 800px;
        }

        @include r($mobile-md) {
            margin-right: 0;
            margin-bottom: 20px;
        }

        &:first-child {

            @include r($mobile-md) {
                z-index: 20;
            }
        }

        &:nth-child(2) {

            @include r($mobile-lg) {
                margin-right: 0;
            }
        }

        &--date {
            max-width: 190px;
            width: 100%;
            margin-right: 10px;
            margin-bottom: 0;
        }
    }

    &__icon {
        position: absolute;
        width: 13px;
        height: 18px;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        background-image: url(../images/content/map-marker.svg);
        background-repeat: no-repeat;
        background-position: center;

        &--date {
            height: 13px;
            background-image: url(../images/content/hourglass.svg);
        }
    }

    &__label {
        position: absolute;
        left: 15px;
        top: -5px;
        z-index: 11;
        font-size: 10px;
        font-weight: 700;
        text-transform: uppercase;
        color: $gray;
        background-color: $white-400;
    }

    &__select {
        max-width: 350px;
        width: 100%;

        

        @include r($mobile-lg) {
            max-width: 100%;
        }

        .jq-selectbox {

            &__select {
                font-weight: 400;
                font-size: 13px;
                height: 50px;
                border-radius: 2px;
                padding: 10px 45px 10px 35px;
                background: transparent;
                box-shadow: none;
                transition: background-color 0.4s, border-color 0.4s;

                &:hover {
                    border-color: $blue;
                }
            }

            &__select-text {
                max-width: 100%;
            }

            &__dropdown {
                width: 100%;
                margin: 2px 0 0;
                padding: 0s;
                border-radius: 2px;
                background-color: $white;
                box-shadow: none;
                bottom: -48px !important;

                ul {
                    background-color: $white-100;

                    li {
                        background-color: $white;
                        border-radius: 3px;
                        transition: background-color 0.4s, color 0.4s;
                        
                        &:hover {
                            background-color: $green;
                        }
                    }

                    .selected.sel {
                        background-color: $yellow;
                        padding: 13px 10px 13px 15px;
    
                        &:hover {
                            background-color: $green;
                        }
                    }
                }
            }

            &__trigger {
                border-left: none;
            }

            &__trigger-arrow {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 17px;
                width: 15px;
                height: 6px;
                border: none;
                background-image: url(../images/content/angle-down.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        &--date {
            max-width: 190px;
            width: 100%;

            .jq-selectbox {

                &__dropdown {
                    max-height: 0;

                    ul {
                        max-height: 170px !important;
                        top: -45px;
                        border: 1px solid $blue;
                        border-top: none;
                        border-radius: 3px;

                        .sel.selected,
                        li {
                            padding: 5px 10px 5px 15px;
                        }
                    }

                    ::-webkit-scrollbar {
                        width: 15px;
                    }

                    ::-webkit-scrollbar-track {
                        background-color: $white-200;
                        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
                    }

                    ::-webkit-scrollbar-thumb {
                        background-color: $blue;
                        border-radius: 10px;
                        border: 3px solid $white-200;
                        transition: background-color 0.4s;

                        &:hover {
                            background-color: $green;
                        }
                    }
                }
            }
        }
    }

    &__btn {
        font-size: 12px;
        text-transform: uppercase;
        padding: 10px 27px;
        border-radius: 3px;
        transition: background-color 0.4s, color 0.4s;

        @include r($mobile-xl) {
            padding: 10px 20px;
        }

        @include r($mobile-lg) {
            background-color: $green;
            color: $white;
        }
    }

}
