<form class="auto-form">
    <div class="auto-form__wrapper auto-form__wrapper--place">
        <div class="auto-form__box">
            <span class="auto-form__icon"></span>
            <label class="auto-form__label" for="place1">
                Pickup
            </label>
            <select class="auto-form__select" name="[auto]select" id="place1" required>
                <option value="Munich, Germany (MUC-Franz Josef Stra…">Munich, Germany (MUC-Franz Josef Stra…</option>
            </select>
        </div>
        
        <div class="auto-form__box">
            <span class="auto-form__icon"></span>
            <label class="auto-form__label" for="place2">
                Drop-off
            </label>
            <select class="auto-form__select" name="[auto]select" id="place2" required>
                <option value="Cologne, Germany (CGN-Cologne - Bonn)">Cologne, Germany (CGN-Cologne - Bonn)</option>
            </select>
        </div>
    </div>
    <div class="auto-form__wrapper">
        <div class="auto-form__box auto-form__box--date">
            <span class="auto-form__icon auto-form__icon--date"></span>
            <label class="auto-form__label" for="auto-date">
                Duration
            </label>
            <select class="auto-form__select auto-form__select--date" name="[auto]search" type="search" id="auto-search1" required>
                <option value="1">1 Day</option>
                <option value="2">2 Days</option>
                <option value="3" selected>3 Days</option>
                <option value="4">4 Days</option>
                <option value="5">5 Days</option>
                <option value="6">6 Days</option>
                <option value="7">7 Days</option>
                <option value="8">8 Days</option>
                <option value="9">9 Days</option>
                <option value="10">10 Days</option>
            </select>
        </div>
        <button class="auto-form__btn btn btn--green" type="submit">
            Refine search
        </button>
    </div>
</form>