<footer class="footer">
    <div class="footer__wrapper">
        <a class="logo footer__logo" href="/">
            <img src="images/content/logo.svg" alt="Logo" width="140" height="30">
        </a>
    </div>
    <div class="footer__top">
        <div class="container">
            <div class="footer__content">
                <div class="footer__lang">
                    <label class="footer__label" for="select1">Site Language/Currency
                    </label>
                    <select class="footer__select" name="[footer]select" id="select1">
                        <option value="English" selected>English</option>
                        <option value="Deutsch">Deutsch</option>
                        <option value="Czech">Czech</option>
                    </select>
                    
                    <label class="footer__label" for="select2">
                        <span class="sr-only">Currency</span>
                    </label>
                    <select class="footer__select footer__select--currency" name="[footer]select" id="select2">
                        <option value="Usd">Usd</option>
                        <option value="Eur">Eur</option>
                        <option value="Czk">Czk</option>
                    </select>
                </div>
                <nav class="footer__nav-top">
                    <div class="footer__box">
                        <span class="footer__title title">
                            Company
                        </span>
                        <ul class="footer__nav">
                            <li class="footer__item">
                                <a class="footer__link" href="#">
                                    About
                                </a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">
                                    Blog
                                </a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">
                                    Contact us
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__box">
                        <span class="footer__title title">
                            Legal
                        </span>
                        <ul class="footer__list">
                            <li class="footer__item">
                                <a class="footer__link" href="#">
                                    Terms & Conditions
                                </a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">
                                    Privacy Policy
                                </a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">
                                    Legal Information
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__box">
                        <span class="footer__title title">
                            Explore
                        </span>
                        <ul class="footer__nav">
                            <li class="footer__item">
                                <a class="footer__link" href="#">
                                    How it works?
                                </a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">
                                    Help
                                </a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">
                                    FAQs
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>    
    </div>
    <div class="container">
        <div class="footer__bottom">
            <ul class="social">
                <li class="social__item">
                    <a class="social__link social__link--facebook" target="_blank" href="https://www.facebook.com/">
                        <span class="sr-only">facebook</span>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link social__link--tweeter" target="_blank" href="https://twitter.com/tweeter">
                        <span class="sr-only">tweeter</span>
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link social__link--instagram" target="_blank" href="https://www.instagram.com/?hl=de">
                        <span class="sr-only">instagram</span>
                    </a>
                </li>
            </ul>
            <div class="footer__copy">
                © Fleetster Car Rent als 2018 All Rights Reserved.
            </div>
        </div>
    </div>
</footer>