<header class="header">
    <div class="container">
        <nav class="menu">
            <a class="logo header__logo" href="/">
                <img class="logo__img" src="images/content/logo.svg" alt="Logo" width="180" height="40">
            </a>
            <div class="menu__box">
                <ul class="menu__nav">
                    <li class="menu__item">
                        <a class="menu__btn btn--blue-hover" href="#">
                            About
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__btn btn--blue-hover" href="#">
                            Contact
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__btn btn--blue-hover" href="#">
                            Faqs
                        </a>
                    </li>
                </ul>
                <ul class="menu__nav">
                    <li class="menu__item">
                        <a class="menu__btn btn--blue-hover" href="#">
                            Manage Booking
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__btn btn--blue-hover" href="#">
                            Sign in
                        </a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__btn btn--blue-hover" href="#">
                            Register
                        </a>
                    </li>
                </ul>
            </div>
            <button class="menu__burger btn" type="button">
                <span class="sr-only">open the menu</span>
                <span></span>
            </button>
        </nav>
    </div>
</header>