<ul class="tabs-btn">
    <li class="tabs-btn__item">
        <button class="tabs-btn__btn tabs-btn__btn--same btn btn--info active" type="button" onclick="openContent(event, 'included')" id="defaultOpen">
            @@btn1
        </button>
    </li>
    <li class="tabs-btn__item">
        <button class="tabs-btn__btn tabs-btn__btn--different btn btn--info" type="button" onclick="openContent(event, 'not-included')">
            @@btn2
        </button>
    </li>
</ul>

<!-- <li class="product-tabs__top-item">
    <button class="product-tabs__btn btn active" type="button" onclick="openContent(event, 'description')" id="defaultOpen">
        Description
    </button>
</li>
<li class="product-tabs__top-item">
    <button class="product-tabs__btn btn" type="button" onclick="openContent(event, 'Additional-info')">
        Additional information
    </button>
</li> -->